.toggle{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.task-date{
font-size: 20px;
    margin-top: 27px;
}
.task-lists{
    display: flex;
    justify-content: center;
}
.add-task{
    font-size: 25px;
    position: relative;
    top: 10px;
    display:inline-block
}
.card{
    background-color: white;
    padding: 10px;
    min-height: 100px;
    width: 350px;
    margin: 5px;   
}
.flex-box{
    display: flex;
    flex-direction: row;
}
.card-info{
   font-size: 18px;
   color: rgb(108, 106, 106);
   flex-grow: 1;
}

.hidden{
    display: none !important;
}
.complete{
    height: 30px;
    width: 20px;

}